*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.imagem{
    position: absolute;
    border: 3px solid green;
    border-radius: 20px;
    right: 8%;
    width: 150px;
    height: auto;
    top: 2.5%;

}

body{
    background: radial-gradient(rgb(238, 238, 238), rgb(157, 250, 161));
}

.aramanu{
    text-align: left;
    background-color: rgb(80, 238, 88);
    color: rgb(8, 90, 12);
    display: inline-flexbox;
    padding: 38px;
    margin-bottom: 1%;
}

.formacao{
    color: rgb(8, 90, 12);
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 1%;
    display: inline-block;
    border: 10px solid rgb(43, 201, 50);
    background-color: rgb(43, 201, 50);
    border-radius: 23px;
}

.origem{
    color: rgb(8, 90, 12);
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 1%;
    display: inline-block;
    border: 10px solid rgb(43, 201, 50);
    background-color: rgb(43, 201, 50);
    border-radius: 23px;
}

.time{
    color: rgb(8, 90, 12);
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 1%;
    display: inline-block;
    border: 10px solid rgb(43, 201, 50);
    background-color: rgb(43, 201, 50);
    border-radius: 23px;

}

.serie{
    color: rgb(8, 90, 12);
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 1%;
    display: inline-block;
    border: 10px solid rgb(43, 201, 50);
    background-color: rgb(43, 201, 50);
    border-radius: 23px;

}

.tl{
    color: rgb(8, 90, 12);
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 1%;
    display: inline-block;
    border: 10px solid rgb(43, 201, 50);
    background-color: rgb(43, 201, 50);
    border-radius: 23px;

}

#destaque{
    margin-bottom: 3%;
}

p{
    color: rgb(14, 114, 19);
    font-size: 16pt;
    text-align: justify;
    line-height: 1.5;
    margin: 1%;
}

a { 
    color: rgb(0, 0, 0)
}

a:visited { 
    color: rgb(3, 77, 7); 
}

.santa{
    text-align: center;
    display: flex;
    justify-content: center;
    gap:5%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.inter{
    text-align: center;
    display: flex;
    justify-content: center;
    gap:5%;
    margin-top: 2%;
    margin-bottom: 2%;
}
